<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
</head>
<body>
<form action="/member/survey" method="post">

    아이디: <input type="text" name="surveyId"> <br> <br>

    지출을 줄일 수 없는 항목(최대 2개, 쉼표로 구분해서 작성): <input type="text" name="fixed_entry"> <br> <br>

    줄이고 싶은 항목 1: <input type="text" name="goal_entry_1"> <br>
    항목 1의 목표 절약 금액: <input type="text" name="goal_money_1"> <br> <br>

    줄이고 싶은 항목 2: <input type="text" name="goal_entry_2"> <br>
    항목 2의 목표 절약 금액: <input type="text" name="goal_money_2"> <br> <br>

    줄이고 싶은 항목 3: <input type="text" name="goal_entry_3"> <br>
    항목 3의 목표 절약 금액: <input type="text" name="goal_money_3"> <br> <br>
    <input type="submit" value="제출">
</form>
</body>
</html>